<!DOCTYPE html>
<html>
<head>
	<title>Database Connection Form</title>
</head>
<body>
	<form action="/connect" method="POST">
		<label for="db_type">Database Type:</label>
		<input type="text" id="db_type" name="db_type"><br><br>
		<label for="host">Host:</label>
		<input type="text" id="host" name="host"><br><br>
		<label for="port">Port:</label>
		<input type="text" id="port" name="port"><br><br>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<label for="database">Database:</label>
		<input type="text" id="database" name="database"><br><br>
		<input type="submit" value="Connect">
	</form>
</body>
</html>

