<!DOCTYPE html>
<html>
<head>
    <title>Database Console</title>
</head>
<body>
    <h1>Database Console</h1>
    <form action="/connect" method="post">
        <label for="db_type">Database Type:</label>
        <select id="db_type" name="db_type">
            <option value="mysql">MySQL</option>
            <option value="postgres">PostgreSQL</option>
            <option value="oracle">Oracle</option>
        </select><br><br>
        <label for="host">Host:</label>
        <input type="text" id="host" name="host"><br><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port"><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Connect">
    </form>
</body>
</html>

